.maindiv{
    display:flex;
    height:450px;
    width:600px;
    margin:5em auto;
}
.imagediv img{
    height:100%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
#perfume{
letter-spacing: 1em;
}
p,del{
    font-family:  "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500 ;
}
h2,span{
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight:700;
  font-size: 2em;
  color:hsl(212, 21%, 14%);
}

b{
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight:700;
    font-size: 2em;
    color: hsl(158, 36%, 37%);
  }
  
p,#perfume,del{
    color:hsl(228, 12%, 48%);
}
button{
    width:90%;
    padding:0.8em;
    background-color:hsl(158, 36%, 37%) ;
    border-style: none;
    border-radius: 12px;
    color: hsl(0, 0%, 100%);
}
button:hover{
    cursor: pointer;
}
.textdiv{
    padding:1.5em;
    background-color:hsl(0, 0%, 100%);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    width: 90%;
}
body{
    background-color:hsl(30, 38%, 92%) ;
}
@media  screen and  (max-width:431px) {
    .maindiv{
        margin-bottom: 5em;
        width:100%;
        margin-top: -3em;
        flex-wrap: wrap ;
    }
    .imagediv img{
        height:70%;
        width:100%;
       border-top-right-radius: 12px;
       border-bottom-left-radius: 0px;;
    }
.textdiv{
    margin-top: -11.3em;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 12px;;
}
button{
    margin:auto;
    width:95%
}
}
